.sort-field {
	font-weight: 600;
}

.table-column-nowrap {
	white-space: nowrap;
}

.table-column-fixed-min-width {
	min-width: 200px;
}

#insert-element-dialog section {
	padding: 0 20px;
}

#insert-element-dialog .rating {
	margin-top: 35px;
}
