.main-table {
	table {
		margin-bottom: 500px;
	}
	th {
		cursor: pointer;
	}
	th:last-child {
		cursor: default;
		text-align: center;
	}
}

.sort-field {
	font-weight: 600;
}

.table-column-title {
	font-weight: bold;
}

.table-column-nowrap {
	white-space: nowrap;
}

.table-column-fixed-min-width {
	min-width: 200px;
	width: 200px;
}

.table-column-button {
	padding-right: 16px;
	width: 48px;
}

/*
[class*='table-column-type-'] {
	color: #fff;
	font-weight: bold;
}
.table-column-type-book {
	background-color: #673ab7;
}
.table-column-type-comic {
	background-color: #43a047;
}
.table-column-type-live {
	background-color: #d500f9;
}
.table-column-type-movie {
	background-color: #ff9100;
}
.table-column-type-tv-show {
	background-color: #d50000;
}
.table-column-type-videogame {
	background-color: #2962ff;
}
*/
