.main-table table {
	margin-bottom: 500px;
}

.sort-field {
	font-weight: 600;
}

.table-column-title .md-edit-dialog__label {
	font-weight: bold;
}

.table-column-nowrap {
	white-space: nowrap;
}

.table-column-fixed-min-width {
	min-width: 200px;
	width: 200px;
}

#insert-element-dialog section {
	padding: 0 20px;
}

#insert-element-dialog .rating {
	margin-top: 35px;
}
